<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    
<!-- depth = 2-->
<!-- base = ../..-->

<!-- Basic Page Needs
================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="google-site-verification" content="vmVo2wbQpKGMHVpllQP7bQ0w5gICWD356VH9DNbv5f4" />

<!-- Mobile Specific Metas
================================================== -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Meta tags
================================================== -->

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image">

<!-- Creator -->
<meta name="twitter:creator" content="@SIL">
<!-- Title -->

  <title>Service Innovation Lab | SIL UI style guide</title>
  <meta property="og:title" content="Service Innovation Lab | SIL UI style guide" />
  <meta name="twitter:title" content="Service Innovation Lab | SIL UI style guide">


<!-- Twitter Site -->
<meta name="twitter:site" content="@SIL" />

<!-- Description -->

  <meta name="description" content="&lt;h3 id=&quot;buttons&quot;&gt;Buttons&lt;/h3&gt;

">
  <meta property="og:description" content="&lt;h3 id=&quot;buttons&quot;&gt;Buttons&lt;/h3&gt;

" />
  <meta property="twitter:description" content="&lt;h3 id=&quot;buttons&quot;&gt;Buttons&lt;/h3&gt;

" />


<!-- Image -->


<!-- Author -->


<!-- Date -->

  <meta name="date" content="2019-08-14 22:04:15 +0000" scheme="YYYY-MM-DD">


<!-- Tags -->

  <meta name="keywords" content="">


  <link rel="canonical" href="/styleguide/components/" />

<!--[if lt IE 9]>
  <script src="/assets/js/vendor/html5shiv.js"></script>
  <script src="/assets/js/vendor/respond.js"></script>
  <script src="/assets/js/vendor/selectivizr-min.js"></script>
<![endif]-->
<!-- CSS
=================================================== -->
  <link rel="stylesheet" href="../../assets/css/main.css" media="all" />
  <link rel="stylesheet" href="../../assets/css/print.css" media="print" />
  </head>
  <body class="page-sil-ui-style-guide
   ">

    

    <div class="main-content styleguide-main-content" id="main-content">
      


<section class="background-gray nz-section styleguide-header-wrapper">
  <a href="/styleguide/">
    <img class="styleguide-logo" src="/assets/img/SIL-Logo-Animation.gif" alt="SIL logo" />
    <h1 class="h2" id="sil-ui-style-guide">SIL UI style guide</h1>
  </a>
  <div class="menu-btn-styleguide-wrapper">
    <button class="menu-btn-styleguide">Menu</button>
  </div>
</section>
<div class="styleguide-content-wrapper">

  <aside class="nav-subnav styleguide-subnav">
    

<nav class="nav-accordion nav-mobile-styleguide" role="navigation">
  <button class="sliding-panel-close-styleguide">
    <?xml version="1.0" encoding="iso-8859-1"?>
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 339.177 339.177" style="enable-background:new 0 0 339.177 339.177;" xml:space="preserve" role="img" aria-hidden="true">
	<title>Closing tab</title>
	<g>
		<path d="M247.244,169.59l83.938-83.938c5.332-5.327,7.994-11.798,7.994-19.414c0-7.614-2.669-14.084-7.994-19.414L292.355,7.993   C287.026,2.665,280.556,0,272.944,0c-7.617,0-14.085,2.665-19.417,7.993L169.59,91.931L85.651,7.993   C80.325,2.665,73.854,0,66.237,0c-7.611,0-14.083,2.665-19.414,7.993L7.994,46.824C2.667,52.15,0,58.624,0,66.238   c0,7.616,2.664,14.084,7.994,19.414l83.937,83.938L7.994,253.528C2.667,258.859,0,265.327,0,272.945   c0,7.61,2.664,14.082,7.994,19.41l38.83,38.828c5.33,5.332,11.803,7.994,19.414,7.994c7.616,0,14.084-2.669,19.414-7.994   l83.939-83.938l83.944,83.938c5.328,5.332,11.793,7.994,19.417,7.994c7.611,0,14.082-2.669,19.411-7.994l38.82-38.828   c5.332-5.324,7.994-11.8,7.994-19.41c0-7.618-2.662-14.086-7.994-19.417L247.244,169.59z" fill="#5b616b"/>
	</g>
</svg>

  </button>

  <ul class="nz-sidenav-list">
  
    <li>
    

    

    <a href="/styleguide/" >Overview</a>
    
    </li>
  
    <li>
    

    

    <a href="/styleguide/layouts/" >Layouts</a>
    
    </li>
  
    <li>
    

    

    <a href="/styleguide/typography/" >Typography</a>
    
    </li>
  
    <li>
    

    

    <a href="/styleguide/colors/" >Colors</a>
    
    </li>
  
    <li>
    

    

    <a href="/styleguide/images/" >Images</a>
    
    </li>
  
    <li>
    

    

    <a href="/styleguide/components/" class="nz-current">Components</a>
    
      <ul class="nz-sidenav-sub_list">
      
        <li>
          
          <a href="/styleguide/components/#buttons">Buttons</a>
        </li>
      
        <li>
          
          <a href="/styleguide/components/#breadcrumbs">Breadcrumbs</a>
        </li>
      
        <li>
          
          <a href="/styleguide/components/#project-cards">Project cards</a>
        </li>
      
        <li>
          
          <a href="/styleguide/components/#sticky-subnavigation">Sticky subnavigation</a>
        </li>
      
        <li>
          
          <a href="/styleguide/components/#testimonials-and-fun-facts">Testimonials and fun facts</a>
        </li>
      
      </ul>
    
    </li>
  
    <li>
    

    

    <a href="/styleguide/blog-components/" >Blog components</a>
    
    </li>
  
    <li>
    

    

    <a href="/styleguide/for-developers/" >For developers</a>
    
    </li>
  
  </ul>
</nav>

  </aside>

  <section class="styleguide-content nz-content">
    <h2>Components</h2>
    <h3 id="buttons">Buttons</h3>

<h4 id="style-on-white">Style on white</h4>

<section class="nz-grid">
  <button class="nz-button">Normal</button>
  <button class="nz-button-hover">Hover</button>
  <button class="nz-button-active">Active</button>
  <button class="nz-button-focus">Focus</button>
  <button class="nz-button-disabled">Disabled</button>
</section>

<h4 id="style-on-dark">Style on dark</h4>

<section class="background-dark nz-grid">
  <button class="nz-button nz-button-secondary">Normal</button>
  <button class="nz-button-hover nz-button-secondary">Hover</button>
  <button class="nz-button-active nz-button-secondary">Active</button>
  <button class="nz-button-focus nz-button-secondary">Focus</button>
  <button class="nz-button-disabled nz-button-secondary">Disabled</button>
</section>

<h4 id="using-anchor-tags-instead-of-buttons">Using anchor tags instead of buttons</h4>

<p><a class="nz-button nz-button-secondary" href="">Normal</a></p>

<ul class="nz-accordion styleguide-details">
    
    <li>
      <button class="nz-accordion-button" aria-controls="buttons-styles">
        Code
      </button>
      <div id="buttons-styles" class="nz-accordion-content styleguide-border">
        
<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code>  

#### Style on white

<span class="nt">&lt;section</span> <span class="na">class=</span><span class="s">"nz-grid"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"nz-button"</span><span class="nt">&gt;</span>Normal<span class="nt">&lt;/button&gt;</span>
  <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"nz-button-hover"</span><span class="nt">&gt;</span>Hover<span class="nt">&lt;/button&gt;</span>
  <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"nz-button-active"</span><span class="nt">&gt;</span>Active<span class="nt">&lt;/button&gt;</span>
  <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"nz-button-focus"</span><span class="nt">&gt;</span>Focus<span class="nt">&lt;/button&gt;</span>
  <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"nz-button-disabled"</span><span class="nt">&gt;</span>Disabled<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;/section&gt;</span>

#### Style on dark

<span class="nt">&lt;section</span> <span class="na">class=</span><span class="s">"background-dark nz-grid"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"nz-button nz-button-secondary"</span><span class="nt">&gt;</span>Normal<span class="nt">&lt;/button&gt;</span>
  <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"nz-button-hover nz-button-secondary"</span><span class="nt">&gt;</span>Hover<span class="nt">&lt;/button&gt;</span>
  <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"nz-button-active nz-button-secondary"</span><span class="nt">&gt;</span>Active<span class="nt">&lt;/button&gt;</span>
  <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"nz-button-focus nz-button-secondary"</span><span class="nt">&gt;</span>Focus<span class="nt">&lt;/button&gt;</span>
  <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"nz-button-disabled nz-button-secondary"</span><span class="nt">&gt;</span>Disabled<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;/section&gt;</span>

#### Using anchor tags instead of buttons

<span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"nz-button nz-button-secondary"</span> <span class="na">href=</span><span class="s">""</span><span class="nt">&gt;</span>Normal<span class="nt">&lt;/a&gt;</span>

</code></pre></div></div>


      </div>
    </li>
    
    
    <li>
      <button class="nz-accordion-button" aria-expanded="true" aria-controls="buttons-styles-details">
        Documentation
      </button>
      <div id="buttons-styles-details" class="nz-accordion-content styleguide-border">
        
          <p><p>Our button styles are.</p>
</p>
        
        
        
      </div>
    </li>
    
  </ul>

<hr />

<h3 id="breadcrumbs">Breadcrumbs</h3>

<p>The site breadcrumb can be used to establish a sense of place within the site. It is only included in the <code class="highlighter-rouge">primary</code> layout by default, but can be added to any layout or custom page as needed.</p>

<h4 id="specifying-all-attributes">Specifying all attributes</h4>

<section class="background-gray">
  <div class="breadcrumb nz-grid">
    <a class="link-arrow-right" href="/">Home</a>
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="444.819" height="444.819" viewBox="0 0 444.819 444.819" role="img" aria-hidden="true">
  <title>Arrow right</title>
  <desc>Arrow pointing to the right</desc>
  <path fill="#046b99" d="M352.025 196.712L165.885 10.848C159.028 3.615 150.468 0 140.185 0s-18.84 3.62-25.696 10.848l-21.7 21.416c-7.045 7.043-10.567 15.604-10.567 25.692 0 9.897 3.52 18.56 10.566 25.98L231.544 222.41 92.785 361.168c-7.04 7.043-10.563 15.604-10.563 25.693 0 9.9 3.52 18.566 10.564 25.98l21.7 21.417c7.043 7.043 15.612 10.564 25.697 10.564 10.09 0 18.656-3.52 25.697-10.564L352.025 248.39c7.046-7.423 10.57-16.084 10.57-25.98.002-10.09-3.524-18.655-10.57-25.698z" />
</svg>

    <a class="link-arrow-right" href="/styleguide/">SIL UI style guide</a>
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="444.819" height="444.819" viewBox="0 0 444.819 444.819" role="img" aria-hidden="true">
  <title>Arrow right</title>
  <desc>Arrow pointing to the right</desc>
  <path fill="#046b99" d="M352.025 196.712L165.885 10.848C159.028 3.615 150.468 0 140.185 0s-18.84 3.62-25.696 10.848l-21.7 21.416c-7.045 7.043-10.567 15.604-10.567 25.692 0 9.897 3.52 18.56 10.566 25.98L231.544 222.41 92.785 361.168c-7.04 7.043-10.563 15.604-10.563 25.693 0 9.9 3.52 18.566 10.564 25.98l21.7 21.417c7.043 7.043 15.612 10.564 25.697 10.564 10.09 0 18.656-3.52 25.697-10.564L352.025 248.39c7.046-7.423 10.57-16.084 10.57-25.98.002-10.09-3.524-18.655-10.57-25.698z" />
</svg>

    
    <span class="link-arrow-right"></span>
  </div>
</section>

<h4 id="specifying-only-needed-attributes">Specifying only needed attributes</h4>

<p><code class="highlighter-rouge">parent_permalink</code> is set as a page attribute in this example, so it doesn’t need to be directly included.</p>

<section class="background-gray">
  <div class="breadcrumb nz-grid">
    <a class="link-arrow-right" href="/">Home</a>
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="444.819" height="444.819" viewBox="0 0 444.819 444.819" role="img" aria-hidden="true">
  <title>Arrow right</title>
  <desc>Arrow pointing to the right</desc>
  <path fill="#046b99" d="M352.025 196.712L165.885 10.848C159.028 3.615 150.468 0 140.185 0s-18.84 3.62-25.696 10.848l-21.7 21.416c-7.045 7.043-10.567 15.604-10.567 25.692 0 9.897 3.52 18.56 10.566 25.98L231.544 222.41 92.785 361.168c-7.04 7.043-10.563 15.604-10.563 25.693 0 9.9 3.52 18.566 10.564 25.98l21.7 21.417c7.043 7.043 15.612 10.564 25.697 10.564 10.09 0 18.656-3.52 25.697-10.564L352.025 248.39c7.046-7.423 10.57-16.084 10.57-25.98.002-10.09-3.524-18.655-10.57-25.698z" />
</svg>

    <a class="link-arrow-right" href="/styleguide/">SIL UI style guide</a>
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="444.819" height="444.819" viewBox="0 0 444.819 444.819" role="img" aria-hidden="true">
  <title>Arrow right</title>
  <desc>Arrow pointing to the right</desc>
  <path fill="#046b99" d="M352.025 196.712L165.885 10.848C159.028 3.615 150.468 0 140.185 0s-18.84 3.62-25.696 10.848l-21.7 21.416c-7.045 7.043-10.567 15.604-10.567 25.692 0 9.897 3.52 18.56 10.566 25.98L231.544 222.41 92.785 361.168c-7.04 7.043-10.563 15.604-10.563 25.693 0 9.9 3.52 18.566 10.564 25.98l21.7 21.417c7.043 7.043 15.612 10.564 25.697 10.564 10.09 0 18.656-3.52 25.697-10.564L352.025 248.39c7.046-7.423 10.57-16.084 10.57-25.98.002-10.09-3.524-18.655-10.57-25.698z" />
</svg>

    
    <span class="link-arrow-right"></span>
  </div>
</section>

<ul class="nz-accordion styleguide-details">
    
    <li>
      <button class="nz-accordion-button" aria-controls="breadcrumb">
        Code
      </button>
      <div id="breadcrumb" class="nz-accordion-content styleguide-border">
        
<div class="language-markdown highlighter-rouge"><div class="highlight"><pre class="highlight"><code>  

<span class="gu">#### Specifying all attributes</span>

{% include breadcrumb.html
  parent_permalink=page.parent_permalink
  parent_title=page.title
  page_title='Buttons'
  background_class='background-gray'
%}

<span class="gu">#### Specifying only needed attributes</span>

<span class="sb">`parent_permalink`</span> is set as a page attribute in this example, so it doesn't need to be directly included.
{% include breadcrumb.html
  parent_title=page.title
  page_title='Buttons'
  background_class='background-gray'
%}

</code></pre></div></div>


      </div>
    </li>
    
    
    <li>
      <button class="nz-accordion-button" aria-expanded="true" aria-controls="breadcrumb-details">
        Documentation
      </button>
      <div id="breadcrumb-details" class="nz-accordion-content styleguide-border">
        
          <p>
<p>The breadcrumb include requires a few attributes to make it appear properly. They can be directly included in the include as variables or text, or left empty if those attributes are defined on the page itself.</p>

<ul>
  <li><code class="highlighter-rouge">parent_title</code>: Title of the parent page as it should appear on the breadcrumb link</li>
  <li><code class="highlighter-rouge">parent_permalink</code>: This is the link that the parent page goes to</li>
  <li><code class="highlighter-rouge">page_title</code>: Title of the page as it should appear on the breadcrumb</li>
  <li><code class="highlighter-rouge">background_class</code>: The CSS class of the breadcrumb background color. It defaults to no background color</li>
</ul>

<p>If the breadcrumb is being used as part of the <code class="highlighter-rouge">primary</code> layout, make sure to set <code class="highlighter-rouge">breadcrumb: true</code> in the page front matter.
The breadcrumb is included automatically on <code class="highlighter-rouge">project-tag-results</code> layout.</p>

<p>For more on includes, check out the <a href="https://jekyllrb.com/docs/includes/">Jekyll documentation</a>.</p>
</p>
        
        
        
      </div>
    </li>
    
  </ul>

<hr />

<h3 id="project-cards">Project cards</h3>

<p>The card component is used as a preview for project pages, but could be adapted to meet additional needs if necessary.</p>

<div class="nz-grid-full">
  <section class="nz-flex nz-flex-wrap">
    








<article class="card nz-width-one-third nz-width-tablet">
  <div class="card-link" data-href="">
    <div role="img" tabindex="0" aria-label="" title="" class="card-image-bg  card-image-svg ">
         
        
          <?xml version="1.0" encoding="UTF-8"?>
<svg width="60px" height="60px" viewBox="0 0 60 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img" aria-hidden="true">
    <!-- Generator: Sketch 40.3 (33839) - http://www.bohemiancoding.com/sketch -->
    <title>Monitor icon</title>
    <desc>Improve public facing interfaces</desc>
    <defs></defs>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-540.000000, -542.000000)" stroke="#00CFFF" stroke-width="2">
            <g transform="translate(541.000000, 543.000000)">
                <path d="M33.4119424,50 C38.1582333,50 39.249395,53.6406576 40.7129472,56.6090012 C40.7129472,57.1041006 40.2215118,57.5090909 39.6160333,57.5090909 L18.0969139,57.5090909 C17.4914354,57.5090909 17,57.0189976 17,56.5238982 C18.5045677,53.5938509 19.6672564,50 24.3002545,50 L33.4119424,50 L33.4119424,50 Z" id="Shape"></path>
                <path d="M53.504688,0 L4.00876256,0 C1.73165338,0 0,1.93534303 0,4.21335091 L0,36.2263576 C0,38.505617 1.73165338,40.0484848 4.00876256,40.0484848 L53.504688,40.0484848 C55.7842981,40.0484848 57.5217037,38.505617 57.5217037,36.2263576 L57.5217037,4.21335091 C57.5217037,1.93534303 55.7842981,0 53.504688,0 L53.504688,0 Z"></path>
                <path d="M28,50.00556 L28,45"></path>

                <path d="M0.5,7.18 L56.5596315,7.18"></path>
                <rect x="6" y="26" width="7.25836683" height="7.25878788"></rect>
                <rect x="6" y="13" width="7.25836683" height="7.25878788"></rect>
                <path d="M18,14 L34.1667419,14"></path>
                <path d="M18,27 L34.1667419,27"></path>
                <path d="M18,18 L25.0349906,18"></path>
                <path d="M18,31 L25.0349906,31"></path>
            </g>
        </g>
    </g>
</svg>

        
      
    </div>
    <div class="card-banner">
      
      
      <p class="card-description"></p>
    </div>

    <!--Read more section & right arrow-->
    <a href="" class="card-cta link-arrow-right" tabindex="0">
      Read more
      <span class="nz-sr-only">about </span>
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="444.819" height="444.819" viewBox="0 0 444.819 444.819" role="img" aria-hidden="true">
  <title>Arrow right</title>
  <desc>Arrow pointing to the right</desc>
  <path fill="#046b99" d="M352.025 196.712L165.885 10.848C159.028 3.615 150.468 0 140.185 0s-18.84 3.62-25.696 10.848l-21.7 21.416c-7.045 7.043-10.567 15.604-10.567 25.692 0 9.897 3.52 18.56 10.566 25.98L231.544 222.41 92.785 361.168c-7.04 7.043-10.563 15.604-10.563 25.693 0 9.9 3.52 18.566 10.564 25.98l21.7 21.417c7.043 7.043 15.612 10.564 25.697 10.564 10.09 0 18.656-3.52 25.697-10.564L352.025 248.39c7.046-7.423 10.57-16.084 10.57-25.98.002-10.09-3.524-18.655-10.57-25.698z" />
</svg>

    </a>
  </div>
</article>



  </section>
</div>

<ul class="nz-accordion styleguide-details">
    
    <li>
      <button class="nz-accordion-button" aria-controls="cards">
        Code
      </button>
      <div id="cards" class="nz-accordion-content styleguide-border">
        
<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code>  
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"nz-grid-full"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;section</span> <span class="na">class=</span><span class="s">"nz-flex nz-flex-wrap"</span><span class="nt">&gt;</span>
    {% include card-project.html project='open-fisca-aotearoa' %}
  <span class="nt">&lt;/section&gt;</span>
<span class="nt">&lt;/div&gt;</span>

</code></pre></div></div>


      </div>
    </li>
    
    
    <li>
      <button class="nz-accordion-button" aria-expanded="true" aria-controls="cards-details">
        Documentation
      </button>
      <div id="cards-details" class="nz-accordion-content styleguide-border">
        
          <p>
<p>To use cards, reference the file path slug in the <code class="highlighter-rouge">projects directory</code>. Use another project as a template to fill in all of the necessary fields.</p>

<p>Each project card has a number of properties. The only required properties are:</p>

<ul>
  <li><code class="highlighter-rouge">image_src</code>: the project <code class="highlighter-rouge">image</code> field, and is the image portion of the card</li>
  <li><code class="highlighter-rouge">image_alt</code>: the project <code class="highlighter-rouge">image_accessibility</code> field. Will be used to set the <code class="highlighter-rouge">alt</code> attribute on the provided image</li>
  <li><code class="highlighter-rouge">agency</code>: the project <code class="highlighter-rouge">agency</code> field. This will be the uppercase text</li>
  <li><code class="highlighter-rouge">tagline</code>: the project <code class="highlighter-rouge">subtitle</code> field and what appears to be the title of the card</li>
  <li><code class="highlighter-rouge">description</code> the project <code class="highlighter-rouge">excerpt</code> and what appears as the body of the card</li>
  <li><code class="highlighter-rouge">link</code>: the project <code class="highlighter-rouge">permalink</code>. This is where clicking on the card will take you</li>
  <li><code class="highlighter-rouge">columns</code>: How many columns the cards should occupy. The only valid options are <code class="highlighter-rouge">2</code> and <code class="highlighter-rouge">3</code>. If nothing is specified, the cards will default to <code class="highlighter-rouge">3</code> columns</li>
</ul>
</p>
        
        
        
      </div>
    </li>
    
  </ul>

<hr />

<h3 id="sticky-subnavigation">Sticky subnavigation</h3>

<p>The sticky subnavigation is a pattern that is used frequently throughout the site to make larger bodies of content easier to navigate. The <a href="/about/">About page</a> is good example of the sticky subnavigation in the live site.</p>

<h4 id="what-is-sticky-subnavigation">What is sticky subnavigation</h4>

<ul>
  <li>A secondary navigation field that exists on the left side of a page, adjacent to a corresponding field of content.</li>
  <li>It is “sticky”, which means that its <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/position">position</a> isn’t absolute or static, but is both, depending on the user’s location on the page.</li>
  <li>It provides a sense of location by updating the active section of content that the user is viewing.</li>
</ul>

<hr />

<div class="nz-grid-full">
  <aside class="nz-width-one-third sticky sticky-subnav sticky-subnav-styleguide">
    






  


  <nav class="nav-accordion nav-subnav nz-accordion" role="navigation">
    
    <button class="nz-accordion-button nav-accordion-button nav-accordion-button-desktop"><h3 class="page-title">SIL UI style guide</h3></button>
    <button class="nz-accordion-button nz-accordion-button-chevron nav-accordion-button nav-accordion-button-mobile" aria-expanded="false" aria-controls="sil-ui-style-guide">SIL UI style guide</button>

    <ul id="sil-ui-style-guide" class="nz-sidenav-list nz-accordion" aria-hidden="true">
      
        <li>
          

          

          <a class="subnav-anchor" href="/styleguide/components/#heading-one">Heading one</a>
        </li>
      
        <li>
          

          

          <a class="subnav-anchor" href="/styleguide/components/#heading-two">Heading two</a>
        </li>
      
    </ul>
  </nav>






  </aside>
  <section class="nz-width-two-thirds">
    <h3 id="heading-one">Heading one</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <h3 id="heading-two">Heading two</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </section>
</div>

<ul class="nz-accordion styleguide-details">
    
    <li>
      <button class="nz-accordion-button" aria-controls="sticky">
        Code
      </button>
      <div id="sticky" class="nz-accordion-content styleguide-border">
        
<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code>  
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"nz-grid-full"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;aside</span> <span class="na">class=</span><span class="s">"nz-width-one-third sticky sticky-subnav sticky-subnav-styleguide"</span><span class="nt">&gt;</span>
    {% include navigation.html subnav=true %}
  <span class="nt">&lt;/aside&gt;</span>
  <span class="nt">&lt;section</span> <span class="na">class=</span><span class="s">"nz-width-two-thirds"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;h3</span> <span class="na">id=</span><span class="s">"heading-one"</span><span class="nt">&gt;</span>Heading one<span class="nt">&lt;/h3&gt;</span>
    <span class="nt">&lt;p&gt;</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;h3</span> <span class="na">id=</span><span class="s">"heading-two"</span><span class="nt">&gt;</span>Heading two<span class="nt">&lt;/h3&gt;</span>
    <span class="nt">&lt;p&gt;</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<span class="nt">&lt;/p&gt;</span>
  <span class="nt">&lt;/section&gt;</span>
<span class="nt">&lt;/div&gt;</span>

</code></pre></div></div>


      </div>
    </li>
    
    
    <li>
      <button class="nz-accordion-button" aria-expanded="true" aria-controls="sticky-details">
        Documentation
      </button>
      <div id="sticky-details" class="nz-accordion-content styleguide-border">
        
          <p>
<h4 id="how-to-use-sticky-subnavigation">How to use sticky subnavigation</h4>

<ol>
  <li>Add the classes <code class="highlighter-rouge">sticky</code> and <code class="highlighter-rouge">sticky-subnav</code> to the element that you want to be sticky.</li>
  <li>Make sure that <a href="/assets/js/sticky.js">sticky.js</a> is included in the page. If you are working on the SIL site, it is included on every page by default.</li>
  <li>Make sure that the element that is receiving <code class="highlighter-rouge">position: sticky</code> is a child of an element with a greater height. If it is not, it will never appear to be stuck.</li>
</ol>

<h4 id="use-of-the-design-system">Use of the Design System</h4>

<p>There are a few classes that we are using for the sticky subnavigation on the SIL site:</p>

<ul>
  <li>The <code class="highlighter-rouge">nz-sidenav-list</code> class, in conjunction with the <code class="highlighter-rouge">nz-current</code> class. This is mostly taken wholesale from the Design System, but does contain slight overrides to better fit with the SIL Brand.</li>
  <li>The <code class="highlighter-rouge">nz-accordion</code> class and accompanying accordion styles. We have added to this set of styles with a <code class="highlighter-rouge">nav-accordion</code> class that more accurately reflects the look and feel of the site.</li>
  <li>The <code class="highlighter-rouge">nz-width-one-third</code> grid class to define the width of our navigaton field. This isn’t necessary, but is a convention throughout the site.</li>
</ul>

<h4 id="what-to-add-where">What to add where</h4>

<p>To add items to the subnavigation define the subnavigation items directly within page <a href="https://jekyllrb.com/docs/frontmatter/">frontmatter</a>, as a set of <code class="highlighter-rouge">nav_items</code>:</p>

<div class="language-yml highlighter-rouge"><div class="highlight"><pre class="highlight"><code>  <span class="na">subnav_items</span><span class="pi">:</span>
    <span class="pi">-</span> <span class="na">text</span><span class="pi">:</span> <span class="s">Heading one</span>
      <span class="na">permalink</span><span class="pi">:</span> <span class="s">/styleguide/sticky-subnavigation/#heading-one</span>
    <span class="pi">-</span> <span class="na">text</span><span class="pi">:</span> <span class="s">Heading two</span>
      <span class="na">permalink</span><span class="pi">:</span> <span class="s">/styleguide/sticky-subnavigation/#heading-two</span>
</code></pre></div></div>

</p>
        
        
        
      </div>
    </li>
    
  </ul>

<hr />

<h3 id="testimonials-and-fun-facts">Testimonials and fun facts</h3>

<p>Testimonials and fun facts are used throughout the site to highlight the impact SIL has made with our partner agencies. You can find the styling used on the home page, how we work, and various project pages.</p>

<div class="testimonial-blockquote">
  SIL has helped us [build something] that lead to [improved thing] resulting in [impact] within our agency.
    <span>- [name], [position], [agency]</span>
</div>

<div class="funfact-blockquote">
  The day [platform] launched, [x-number]organizations were already using the data and API to enhance existing tools or build new products to better serve their customers.
</div>

<ul class="nz-accordion styleguide-details">
    
    <li>
      <button class="nz-accordion-button" aria-controls="testimonial">
        Code
      </button>
      <div id="testimonial" class="nz-accordion-content styleguide-border">
        
<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code>  

<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"testimonial-blockquote"</span><span class="nt">&gt;</span>
  SIL has helped us [build something] that lead to [improved thing] resulting in [impact] within our agency.
    <span class="nt">&lt;span&gt;</span>- [name], [position], [agency]<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"funfact-blockquote"</span><span class="nt">&gt;</span>
  The day [platform] launched, [x-number]organizations were already using the data and API to enhance existing tools or build new products to better serve their customers.
<span class="nt">&lt;/div&gt;</span>


</code></pre></div></div>


      </div>
    </li>
    
    
    <li>
      <button class="nz-accordion-button" aria-expanded="true" aria-controls="testimonial-details">
        Documentation
      </button>
      <div id="testimonial-details" class="nz-accordion-content styleguide-border">
        
          <p>
<h4 id="how-to-use-testimonials">How to use testimonials</h4>

<ul>
  <li>For a testimonial: Add the class <code class="highlighter-rouge">testimonial-blockquote</code> to the element (ex. <code class="highlighter-rouge">div</code>) that holds the quote. This will place the large quote mark before the content. Place the name, position, and agency within the <code class="highlighter-rouge">&lt;span&gt;</code> tag. This bolds, adds color, and removes italics to the text.</li>
  <li>For a fun fact: Add the class <code class="highlighter-rouge">funfact-blockquote</code> to the element (ex. <code class="highlighter-rouge">div</code>) that holds the information. This has similar styling to a testimonial but adjusted for just text.</li>
</ul>

</p>
        
        
        
      </div>
    </li>
    
  </ul>


  </section>
</div>

    </div>

    

    <script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/waypoints.min.js" type="text/javascript"></script>
<script src="/assets/js/index.js"></script>
<script src="/assets/js/waypoints.js"></script>
<script src="/assets/js/jekyll-pages-api-search.js"></script>
<script src="/assets/js/sticky.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '', 'auto');
  ga('set', 'anonymizeIp', true);
  ga('set', 'forceSSL', true);
  ga('send', 'pageview');
</script>

    <script src="/assets/js/search-constants.js"></script>
<script async src="/assets/js/search-bundle.js"></script>
    
<!-- depth = 2-->
<!-- base = ../..-->
<section class="blog-footer nz-section background-medium">
  <div class="nz-grid">
    <div class="nz-width-one-fourth">
      <img id="govt_logo" src="../../assets/img/footer-logo-govt.png" alt="NZ Government logo">
      <p class="copyright">Crown Copyright</p>
    </div>
    <div class="nz-width-three-fourths creative-commons">
      <a href="https://creativecommons.org/licenses/by/4.0/">
      <img src="../../assets/img/cc_icons.png" alt="Creative Commons 4.0 International Licence" width="85" height="40"></a>
      <span class="licence">Unless indicated otherwise, all content on
        <span property="http://purl.org/dc/terms/title">Govt.nz</span> is licensed for re-use under a <a href="https://creativecommons.org/licenses/by/4.0/" rel="external" class="external">Creative
      Commons 4.0 International Licence.<?xml version="1.0" encoding="UTF-8"?>
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 16 16" version="1.1" width="16px" height="16px">
<g class="surface1">
<path style=" " d="M 9 2 L 9 3 L 12.292969 3 L 6.023438 9.273438 L 6.726563 9.976563 L 13 3.707031 L 13 7 L 14 7 L 14 2 Z M 4 4 C 2.894531 4 2 4.894531 2 6 L 2 12 C 2 13.105469 2.894531 14 4 14 L 10 14 C 11.105469 14 12 13.105469 12 12 L 12 7 L 11 8 L 11 12 C 11 12.550781 10.550781 13 10 13 L 4 13 C 3.449219 13 3 12.550781 3 12 L 3 6 C 3 5.449219 3.449219 5 4 5 L 8 5 L 9 4 Z "/>
</g>
</svg>
</a></span>
    </a>
  </div>
</div>
</section>
  </body>
</html>
