# Jekyll build artifacts
_site
.jekyll-metadata

# OS-specific files
.DS_Store

# dependencies
/node_modules

/_site
*.log
node_modules/
/.sass-cache/
.rvmrc
_data/private
.*.sw?
*.pyc
.jekyll-metadata
.floo*
manifest-*.yml
/coverage
tmp