---
# Site settings
title: "Service Innovation Lab"
description: "The Service Innovation Lab is a cross agency collaboration hub for New Zealand government."
baseurl: ""  # the subpath of your site, e.g. /blog
permalink: pretty
url: "https://serviceinnovationlab.github.io/"  # the base hostname & protocol for your sites
localhost: "localhost:4000"
env: "production"
logo: /assets/img/SIL-Logo-Animation_white.gif
tag_dir: tags
github_repo: https://github.com/ServiceInnovationLab/serviceinnovationlab.github.io
background-image: url('')
related_posts: 3

# blog archive at /blog
paginate: 5
paginate_path: "blog/page/:num"

jekyll-archives:
  enabled:
    - 'tags'
  layout: tag-results
  permalinks:
    tag: '/tags/:name/'

collections:
  about:
    output: true
    permalink: /:path/
  authors:
    output: true
    permalink: /author/:name/
  products_projects:
    output: true
    permalink: /projects/:path/
  services_projects:
    output: true
    permalink: /projects/:path/
  contact:
    output: false
    permalink: /contact/:path/
  styleguide:
    output: true
    permalink: /styleguide/:path/
  devPeerReviewWorkflow:
    output: true
    permalink: /devPeerReviewWorkflow/:path/

defaults:
  - scope:
      type: "posts"  # an empty string here means all files in the project
    values:
      layout: post
  - scope:
      path: "pages"
    values:
      layout: primary
  - scope:
      path: "_authors"
    values:
      layout: default-profile
  - scope:
      path: "_contact"
    values:
      layout: primary
      # include_subnav: true
      subnav_anchor: /contact/
  - scope:
      path: "_about"
    values:
      layout: primary
      include_subnav: true
      subnav_anchor: /about/
  - scope:
      path: "_products_projects"
    values:
      layout: project-page
  - scope:
      path: "_services_projects"
    values:
      layout: project-page
  - scope:
      path: "_styleguide"
    values:
      layout: styleguide
      include_subnav: true
  - scope:
      path: "devPeerReviewWorkflow"
    values:
      layout: primary

frontmatter_tests:
  path: "tests/schema"

footer:
  image: /assets/media/AoG_logo_footer.png
  email:
  text: This site was built using .  # Change to a tag line for your agency

# Build settings
markdown: kramdown
highlighter: rouge

exclude:
  - .about.yml
  - .cfignore
  - .codeclimate.yml
  - .gitignore
  - .gitmodules
  - .hound.yml
  - 404.html
  - api-endpoints
  - bin
  - build
  - circle.yml
  - config_blog.rb
  - CONTRIBUTING.md
  - docker-compose.yml
  - docker_entrypoint.rb
  - Dockerfile
  - examples/
  - favicon.ico
  - Gemfile*
  - ISSUE_TEMPLATE.md
  - killport
  - LICENSE.md
  - node_modules
  - package.json
  - pages/our-work.html
  - PULL_REQUEST_TEMPLATE.md
  - README.md
  - spec/
  - tests/
  - tests/schema/tags.yml
  - tmp/
  - vendor

# jekyll plugins
plugins:
  - jekyll-sitemap
  - jekyll-archives
  - jekyll-redirect-from
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-paginate
  - jekyll_pages_api_search
  - jekyll_oembed

# Configuration for jekyll_pages_api_search plugin gem.
jekyll_pages_api_search:
  # Uncomment this to speed up site generation while developing.
  # skip_index: true

  # Each member of `index_fields` should correspond to a field generated by
  # the jekyll_pages_api. It can hold an optional `boost` member as a signal
  # to Lunr.js to weight the field more highly (default is 1).
  index_fields:
    title:
      boost: 10
    tags:
      boost: 10
    url:
      boost: 5
    body:
