---
gems:
  - jekyll-sitemap
  - jekyll-redirect-from
  - jekyll-feed

jekyll_pages_api_search:
  skip_index: true

env: "development"
exclude:
  - .about.yml
  - .cfignore
  - .codeclimate.yml
  - .gitignore
  - .gitmodules
  - .hound.yml
  - 404.html
  - api-endpoints
  - bingit
  - build
  - circle.yml
  - config_blog.rb
  - CONTRIBUTING.md
  - docker-compose.yml
  - docker_entrypoint.rb
  - Dockerfile
  - examples/
  - favicon.ico
  - feed*
  - Gemfile*
  - ISSUE_TEMPLATE.md
  - killport
  - LICENSE.md
  - node_modules
  - package.json
  - pages/our-work.html
  - PULL_REQUEST_TEMPLATE.md
  - README.md
  - robots.txt
  - search-index*
  - sitemap.xml
  - spec/
  - tests/
  - tests/schema/tags.yml
  - tmp/
  - vendor
  - _posts/
  - _data/digital-identity.yml
  - _data/digital-wallet.yml
  - _data/general-glossary.yml
  - _data/techy-terms.yml
  - .circleci/make-yaml.py
  - .circleci/pull-sheet.sh
