<nav class="footer-desktop">
  <div class="footer-logo-links" role="region" aria-label="footer logo and links">
    <a class="footer-logo media_link" href="{{ site.url }}">
      <img src="{{ site.baseurl }}/assets/img/footer-logo-govt.png" alt="All of Government logo">
    </a>
  </div>
  <div class="footer-links-wrapper" role="region" aria-label="Page footer">
    <div class="footer-links" role="region" aria-label="footer links">
      <ul>
        {% for item in include.nav_items %}
          <li>
            {% if item.permalink %}
              {% assign item_link = item.permalink | prepend: site.baseurl %}
            {% else %}
              {% assign item_link = item.text | slugify | hash_link | prepend: site.baseurl %}
            {% endif %}
            <a href="{{ item_link }}">{{ item.text }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
