{% assign card_link = include.link | prepend: site.baseurl %}
{% assign external_link = include.external_url %}
{% assign external_link_title = include.external_link_title %}

{% assign columns = include.columns | default: 3 %}

{% if columns == 2 %}
  {% assign wds_grid_class = 'nz-width-one-half' %}
{% else %}
  {% assign wds_grid_class = 'nz-width-one-third' %}
{% endif %}

<article class="card {{ wds_grid_class }} nz-width-tablet">
  <div class="card-link" data-href="{{ card_link }}" tabindex="-1">
    <div class="card-banner">
      {% if include.agency %}
        <p class="card-tag">{{ include.agency }}</p>
      {% endif %}
      {% if card_link and include.tagline %}
        <a href="{{ card_link }}" tabindex="-1" class="card-link-tagline"><h3 class="h4">{{ include.tagline }}</h3></a>
      {% endif %}
      <p class="card-description">{{ include.description }}</p>
    </div>

    <!--Read more section & right arrow-->
    <a href="{{ external_link }}" class="card-cta link link-arrow-right" tabindex="0">
      {{ external_link_title }}
      <span class="nz-sr-only">about {{ include.tagline }}</span>
      {% include svg/icons/external-link-icon.svg %}
    </a>
  </div>
</article>

