</div>
</div>
</div>
<footer id="sticky-footer" class="footer" style="{% if page.title == 'Home' %}background: rgba(34, 60, 198, .95){% else %}background: #223cc6{% endif %}">
    <div class="container">
      <div class="row">
        <div class="first-col col-xl-4">
          <img src="/images/footer-logo-govt.png" />
          <p>Crown Copyright 2019</p>
        </div>
        <div class="second-col col-xl-8">
          <img src="/images/cc_icons.png" width="85" height="40" alt="alt="Creative Commons 4.0 International Licence"" />
          <p>
            Unless indicated otherwise, all content on Govt.nz is licensed for re-use under a
            <a href="https://creativecommons.org/licenses/by/4.0/" class="pb-1">Creative Commons 4.0 International Licence</a>.
          </p>
        </div>
      </div>
    </div>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '', 'auto');
  ga('set', 'anonymizeIp', true);
  ga('set', 'forceSSL', true);
  ga('send', 'pageview');
</script>
<script async="" src="https://www.google-analytics.com/analytics.js"></script>
<script src="{{ root }}/js/dist/app.bundle.js"></script>
</body>
</html>
