<section class="nz-grid">
  <div class="glossary-nav">
    <div class="glossary-buttons">
        <a class="btn btn-secondary btn-sm" role="button" href="/general-glossary">General Glossary</a>
        <a class="btn btn-secondary btn-sm" role="button" href="/techy-terms-glossary">Techy Terms Glossary</a>
        <a class="btn btn-secondary btn-sm" role="button" href="/digital-identity-glossary">Digital Identity</a>
        <a class="btn btn-secondary btn-sm" role="button" href="/digital-wallet-glossary">Digital Wallet</a>
    </div>
  </div>
</section>