<a class="skipnav" href="#main-content">Skip to main content</a>
<header role="banner">
  <div class="site-navbar nz-grid">
    <button class="menu-btn">Menu</button>
    <a class="site-logo media_link" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/img/SIL-Logo-Animation.gif" alt="SIL logo" style = "height:55px; width:217px;"
      {% if page.url == '/' %}
        aria-hidden="true"
      {% endif %}
    ></a><span class="beta">Beta</span>
      {% if page.url == '/' %}
        <h1 class="nz-sr-only">Service Innovation Lab</h1>
      {% else %}
        <span class="nz-sr-only">Service Innovation Lab</span>
      {% endif %}
    <nav role="navigation">
      {% include navigation.html navbar=true %}
    </nav>
  </div>
</header>
