<div class="header pt-2 pb-2">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light p-0">
      <a href="/" class="position-relative logo">
        <img src="/images/logo.gif" alt="Service Innovation Lab" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav">
          {% for item in site.data.navigation %}
          <li class="nav-item pt-2 pl-2 pr-2">
            <a href="{{item.href}}" class="mr-3 ml-3 inline-block text-decoration-none text-body {% if page.title == item.title%}active{% endif %}">{{item.title}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
</div>

<div class="{% if page.theme %}{{page.theme}}{% endif %} pb-5">
