{% include base.html %}
<a class="skipnav" href="#main-content">Skip to main content</a>
<header role="banner">
  <div class="site-navbar nz-grid" role="navigation" aria-label="Menu section">
    <button class="menu-btn">Menu</button>
    <a class="site-logo media_link" href="{{ "/" | relative_url }}">
      <img src="{{ base }}/assets/img/SIL-Logo-Animation.gif" alt="Service Innovation Lab logo" style = "height: 55px; width: 217px;"
      {% if page.url == '/' %}
        aria-hidden="true"
      {% endif %}
    ></a><span class="toolkit" role="navigation">Toolkit</span>
    <nav role="navigation" aria-label="Menu section">
      {% include navigation.html navbar=true %}
    </nav>
  </div>
</header>
