<div class="child-page-listing nz-grid-full">
  <div class="grid-container">
    <article id="3685" class="location-listing item--1">
      <a class="location-title item--1" href="{{ site.baseurl }}/about">About</a>
      <div class="location-image">
        <img class="grid-image" src="{{ site.baseurl }}/assets/img/grid/About-grid-image.jpg" alt="People pointing to laptop screen">
      </div>
    </article>
    <article id="3688" class="location-listing item--2">
      <a class="location-title" href="{{ site.baseurl }}/approach">Approach</a>
      <div class="location-image item--2">
        <img class="grid-image" src="{{ site.baseurl }}/assets/img/grid/Approach-grid-image.jpg" alt="Rates rebate prep for Beta Karyn and Rob">
      </div>
    </article>
    <article id="3691" class="location-listing item--3">
      <a class="location-title" href="{{ site.baseurl }}/insights">Insights</a>
      <div class="location-image item--3">
        <img class="grid-image" src="{{ site.baseurl }}/assets/img/grid/Insights-grid-image.png" alt="All-of-Government showcase">
      </div>
    </article>
    <article id="3694" class="location-listing item--4">
      <a class="location-title" href="{{ site.baseurl }}/projects">Projects</a>
      <div class="location-image item--4">
        <img class="grid-image" src="{{ site.baseurl }}/assets/img/grid/Projects-grid-image.jpg" alt="Laptop, notebook & plant">
      </div>
    </article>
    <article id="3697" class="location-listing item--5">
      <a class="location-title" href="{{ site.baseurl }}/tools">Processes & Tools</a>
      <div class="location-image item--5">
        <img class="grid-image" src="{{ site.baseurl }}/assets/img/grid/Process-grid-image.jpg" alt="Whiteboard with double diamond diagram & random drawings">
      </div>
    </article>
    <article id="3700" class="location-listing item--6">
      <a class="location-title" href="{{ site.baseurl }}/contact">Contact</a>
      <div class="location-image item--6">
        <img class="grid-image" src="{{ site.baseurl }}/assets/img/grid/Contact-grid-image.jpg" alt="Laptop">
      </div>
    </article>
  </div>
  <!-- end grid container -->
  <!-- for image width="300" height="169"-->
</div>
