{% include base.html %}
<section class="blog-footer nz-section background-medium">
  <div class="nz-grid" role="region" aria-label="footer region">
    <div class="nz-width-one-fourth" role="img">
      <img class="govt-logo" src="{{ base }}/assets/img/footer-logo-govt.png" alt="NZ Government logo">
    </div>
    <div class="nz-width-three-fourths creative-commons" role="img">
      <a href="https://creativecommons.org/licenses/by/4.0/">
      <img src="{{ base }}/assets/img/cc_icons.png" alt="Creative Commons 4.0 International Licence" width="85" height="40"></a>
      <span class="licence" role="contentinfo">Unless indicated otherwise, all content on
        <span property="http://purl.org/dc/terms/title" role="contentinfo">serviceinnovationlab.github.io</span> is licensed for re-use under a <a href="https://creativecommons.org/licenses/by/4.0/" rel="external" class="external">Creative
      Commons 4.0 International Licence.{% include svg/icons/external-link-icon.svg %}</a></span>
      </a>
    </div>
  </div>
</section>
