/**
 * Site Header
 */
.site-header {
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    margin-top: -15px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 24px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 36px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    visibility: visible;
    opacity: .75;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

/*Banner */
h1.project-name
{
    font-size: 3rem;
}

//Banner
h2.project-tagline
{
    font-size: 1.75rem;
}


/**
 * Site Footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.site-footer-AoG{
    background-color: black;
    padding: 7px;
}
.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 28px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

#content.main-content
{
    max-width: 100%;
    padding: 2rem 10rem 0 10rem;
    margin: 0 auto;
    font-size: 100%;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


/**
*Our Team Page
**/
body{
    background-color:#f1f1f1;
}

.ourTeam-heading{
    /*background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../demo/hands-joined.jpg'); */
    height:200px;
    width:100%;
    background-size:100% 100%;
    background-repeat:no-repeat;
    background: linear-gradient(rgba(0,0,0,.10)); 
    background-color: black;
}

.ourTeam-heading h1{
    color:#fff;
    padding:70px 0px;
    font-weight:900;
    z-index: 1;
}

.ourTeam-box{
    border-top: 6px solid #5DDDD3;
    background-color: #FFFFFF;
}

.section1{
    padding: 30px 0px 0px 0px;
}

/*Refer to https://www.w3schools.com/css/css3_images.asp */
.section1 img{
    border:5px solid #5DDDD3;
    padding:5px;
    border-radius:8px; /* or 50% if want rounded images */
    height: auto;   /* height:170px; */
    max-width: 100%;    /* width: 170px;*/
}

.section2 h1{
    font-size:20px;
    color:#C1C1C1;
    margin:0px;
    border-bottom:2px solid #5DDDD3;
    display: inline-block;
    padding: 10px 0px;
}

.section2 p{
    background-color: #5DDDD3;
    display: inline-block;
    font-weight: bold;
    color:#fff;
    padding: 5px 15px;
    border-radius: 3px;
    margin-top: -20px;    
}

.section2 span{
    color:#979597;
}

.section2 label{
    background-color: #5DDDD3;
    padding: 8px 10px 8px 10px;
    color:#fff;
    font-weight: normal;
    margin: 30px 0px 35px 0px;
    border-radius: 2px;
}

.section3 p{
    padding: 10px 15px 0px 15px;
    font-size:12px;
    color:#c3c9c9;
}

.section4{
    padding:10px 0px 50px 0px;
}

.section4 i{
    color:#fff;
    padding:3px;
    border-radius: 2px; 
    font-size: 12px;
    background-color: #5DDDD3;
    cursor: pointer;
}

.section-info{
    border-top:6px solid #90DFAA;
}

.section-danger{
    border-top:6px solid #FD8469;
}

.section-info .section1 img{
    border:5px solid #90DFAA;
    padding:5px;
}

.section-info .section2 p{
    background-color: #90DFAA;
    color:#fff;
}

.section-danger .section2 p{
    background-color: #FD8469;
    color:#fff;
}

.section-danger .section1 img{
    border:5px solid #FD8469;
    padding:5px;
}

.section-info .section4 i{
    background-color: #90DFAA;  
}

.section-danger .section4 i{
    background-color: #FD8469;  
}

.section-info .section2 h1{
    border-bottom:2px solid #90DFAA;
}

.section-danger .section2 h1{
    border-bottom:2px solid #FD8469;
}