.typography {
  a {
    display: inline-block;
    padding-bottom: 0;
    border-bottom: 2px solid var(--white);

    &:hover {
      text-decoration: none;
      padding-bottom: 0;
      border-bottom: 2px solid var(--primary);
    }
  }

  p {
    padding: 15px 0;
    font-size: 1.0625rem;
    color: var(--dark);
    line-height: 30px;
    letter-spacing: 0.01em;
  }

  ul {
    padding: 0 20px 5px;
    color: #172885;
    li {
      margin: 0.75em 0 0.75em 1.875em;
      font-size: 1.0625rem;
    }
  }

  ol {
    padding: 0 20px 5px;
    color: var(--dark);
    li {
      margin: 0.75em 0 0.75em 1.875em;
      font-size: 1.0625rem;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    -webkit-font-smoothing: antialiased;
    color: var(--dark);
  }

  h1, h2, h3 {
    font-weight: 500;
    letter-spacing: -0.01em;
    margin-top: 0 !important;
  }

  h1 {
    font-size: 2.5em !important;
  }

  img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;

    + img {
      padding-top: 2rem;
    }
  }
}

.back-to-top {
  font-size: 16px;
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 20px;
}
