/* .btn {
  background-color: transparent;
  font-family: "Noto Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-decoration: none;
  padding: .75rem 3.25rem;
  border-radius: 0;

  &--primary {
    border-color: #fff;
    color: #fff;
  }

  &--lg {
    font-size: 2rem;
  }
}
 */
