.btn {
  border: 1px solid $color-inverse;
  color: $color-inverse;
  background-color: transparent;
  font-family: $font-sans;
  text-decoration: none;
  padding: 1rem 4.25rem;
  border-radius: 0;

  &:hover {
    background: $color-inverse;
    color: $color-medium;
    border: 1px solid $color-inverse;
  }

  &-lg {
    color: inherit;
    font-size: 3.5rem;

    @media (min-width: 1024px) {
      font-size: 5rem;
    }
  }

  &-primary {
    border: 1px solid $color-inverse;
    color: $color-inverse;

    &:hover {
      background: $color-inverse;
      color: $color-medium !important;
      border: 1px solid $color-inverse;
    }
  }

  &-secondary {
    border: 1px solid $color-medium;
    color: $color-medium;

    &:hover {
      background: $color-medium;
      color: $color-inverse;
      border: 1px solid $color-medium;
    }
  }
}
