.btn {
  border: 1px solid $color-inverse;
  color: $color-inverse;
  background-color: transparent;
  font-family: $font-sans;
  text-decoration: none;
  padding: 1.5rem;
  border-radius: 0;
  &:hover {
    background: $color-inverse;
    color: $color-medium;
    border: 1px solid $color-inverse;
  }

  &-lg {
    font-size: 4rem;
  }

  &-primary {
    border: 1px solid $color-medium;
    color: $color-medium;
    &:hover {
      background: $color-medium;
      color: $color-inverse;
      border: 1px solid $color-medium;
    }
  }
}