.glossary {
  padding: 0 2rem;
}

.glossary-nav {
  padding: 5rem 0 0 0;

  .glossary-buttons {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    margin: 0 1rem;
    justify-content: center;
  }
}

.glossary-table {
  overflow-x: auto;
  display: block;
  max-width: 100%;
  // padding: 0 1rem;

  td {
    word-wrap: break-word;
    min-width: 10rem;
    max-width: 50rem;
  }
}
