.hero {
  padding-left: 20px;
  padding-right: 20px;
  height: 90vh;
  position: relative;

  @media (min-width: 1024px) {
    width: 100%;
    padding: 0 3rem;
  }

  > div {
    padding-top: 30%;

    @media (min-width: 1024px) {
      width: 100%;
      padding-left: 10%;
    }
  }

  .heading {
    margin-top: 0;
    font-size: 5rem;
    color: $color-inverse;
    margin-bottom: 1.75rem;
  }
}
