.hero {
  padding-left: 20px;
  padding-right: 20px;
  height: 90vh;
  position: relative;

  @media (min-width: 1024px) {
    width: 100%;
    padding: 0 3rem;
  }

  > div {
    padding-top: 30%;

    @media (min-width: 1024px) {
      width: 100%;
      padding-left: 5%;
    }
  }

  .heading {
    margin-top: 0;
    font-size: 3.75rem;
    color: $color-inverse;
    margin-bottom: 2.75rem;

    @media (min-width: 1024px) {
      font-size: 6rem;
    }
  }
}
