// Layout
// ==========================

// Remove top margins from first item and bottom margins from last item
.nz-section,
.nz-grid,
.nz-width-one-whole,
.nz-width-one-half,
.nz-width-one-third,
.nz-width-two-thirds,
.nz-width-one-fourth,
.nz-width-three-fourths,
.nz-width-one-sixth,
.nz-width-five-sixths,
.nz-width-one-twelfth {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child:not(:only-child) {
      margin-bottom: 0;
    }
  }
}

.nz-grid-line {
  height: 1px;
}

.nz-grid-line-hww {
  border-top: 0.5rem solid;
  border-color: $color-medium;
  margin-top: $section-margins;
}

.nz-flex-baseline {
  align-items: baseline;
}

.nz-flex-end {
  align-items: flex-end;
}

.nz-spacer {
  margin-bottom: $site-margins;

  > * {
    margin-bottom: $spacer-margins;
  }
}

.nz-flex-pull-right {
  > *:first-child {
    flex-grow: 1;
  }

  > *:last-child {
    margin-left: 0;
    min-width: 200px;
    text-align: left;
  }
}

.nz-flex-always {
  display: flex;
}

@include media($medium-screen) {
  .nz-flex {
    display: flex;
  }

  .nz-flex-wrap {
    flex-wrap: wrap;
  }

  .nz-flex-vertically-top {
    margin-bottom: $section-margins;
  }

  .nz-flex-pull-right {
    > *:last-child {
      float: right;
      margin-left: $site-margins;
      text-align: right;
    }
  }

  .nz-flex-vertically-top {
    align-self: flex-start;
    flex-direction: column;
  }

  .nz-flex-vertically-bottom {
    align-self: flex-end;
    flex-direction: column;
  }
}

.nz-section {
  @include padding($site-margins null);

  @include media($medium-screen) {
    @include padding($section-margins null);
  }

  padding-top: 0.5rem;
  padding-bottom: 8.5rem;

  .page-lead {
    margin-top: 0;
  }
}

.nz-section-bottom {
  @include padding(null null $site-margins null);

  @include media($medium-screen) {
    @include padding(null null $section-margins null);
  }
}

.background-gray {
  background-color: $color-gray-lightest;

  h2 {
    color: $color-bright;
  }
}

.background-medium {
  background-color: $color-medium;
}

.background-dark {
  background-color: $color-dark;
}

.background-medium,
.background-dark {
  color: $color-white;
  -webkit-font-smoothing: antialiased;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: $color-bright;
  }

  .section-heading {
    color: $color-bright;
    letter-spacing: 0.5px;
  }

  h2 {
    letter-spacing: 0.5px;
  }

  a {
    color: $color-bright;

    &:hover {
      color: $color-bright-hover;
    }
  }

  .nz-search.nz-search-small [type='submit'] {
    background-image: url('../img/global/search-dark.png');
    background-image: url('../img/global/search-dark.svg');
  }

  input,
  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='url'],
  input[type='tel'],
  input[type='number'],
  input[type='search'],
  input[type='file'],
  input[type='date'],
  input[type='datetime-local'],
  input[type='month'],
  input[type='time'],
  input[type='week'],
  textarea,
  select {
    border-color: $color-white;
  }
}

// boone did this, we should do it the right way eventually
.background-dark .nz-button.nz-button-secondary:hover {
  color: $color-black;
}

// end of stuff boone did

.header_border,
.single-post {
  header[role='banner'] {
    border-bottom: 1px solid $color-gray-lighter;
  }
}

// Dark blue page intros
.section-intro {
  .section-heading {
    margin-bottom: 0;
  }

  .section-heading-alt {
    font-size: $h3-font-size;
  }

  h2 {
    display: inline;
    font-size: $h2-font-size;
    font-weight: $font-bold;
  }
}

.section-intro-header {
  max-width: 81.2rem; // Width of 10 columns

  @include media($medium-screen) {
    @include span-columns(9);
  }
}

// A list of sections separated with a light border
.section-list {
  border-bottom: $border-light;

  ul {
    margin-bottom: 0;
  }
}

.content-focus {
  @include margin(0 auto);
  max-width: 64.063rem; // 8 column width at full screen
}

.nz-grid {
  &.content-focus {
    max-width: 70.563rem; // 64.063rem + 6rem (site margins)
  }
}

.content-focus.content-wide {
  max-width: $site-max-width;
}

.nz-content {
  blockquote,
  ol,
  ul {
    max-width: $text-max-width;
  }
}

.contact-section {
  > img {
    margin-top: 55px;
    width: 100%;
  }
}

// In hww-primary.html & primary.html
.page-title {
  color: $color-dark;
  font-size: 3.4rem;
  font-weight: 700;
}

.background-medium {
  h1,
  h2,
  h3 {
    color: $color-light;
  }
}

// In primary.html
.page-about section > section {
  padding-top: 0.9375rem;
}

.background-image-homepage {
  background-image: url('/assets/img/homepagebg_blue.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.govt-logo {
  height: 55px;
  width: 200px;
}
