#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: $color-bright;
  color: $color-inverse;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  width: 90px;

  @media screen and (max-width: $medium-screen) {
    display: block;
    width: 75%;
    text-align: center;
    margin-right: 20px;
  }
}

#scrollToTopBtn:hover {
  background-color: $color-inverse;
  color: $color-bright;
  border: 2px solid $color-bright;
}
