.timeline {
  position: relative;
  padding: 0 4rem;

	&::before {
		content: '';
		background: white;
		width: 5px;
		height: 95%;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
  }
  
  blockquote {
    margin-top: 30px;
    color: grey;
    border-left-color: $color-medium;
    padding: 0 20px;
  }

  h2 {
    color: $color-dark;
  }
}

.timeline-item {
	width: 100%;
  margin-bottom: 70px;
  
  .timeline-img-header {
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .4)), url('https://picsum.photos/1000/800/?random') center center no-repeat;
    background-size: cover;
	}

	&:nth-child(even) {
		.timeline-content {
			float: right;
			padding: 40px 20px 10px;

			.date {
				right: auto;
				left: 0;
			}
			&::after {
				content: '';
				position: absolute;
				border-style: solid;
				width: 0;
				height: 0;
				top: 30px;
				left: -15px;
				border-width: 10px 15px 10px 0;
				border-color: transparent #f5f5f5 transparent transparent;
			}
		}
	}
	&::after {
		content: '';
		display: block;
		clear: both;
	}
}

.timeline-content {
	position: relative;
	width: 45%;
	padding: 10px 30px;
	border-radius: 4px;
	background: #f5f5f5;
	box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);
 
	&::after {
		content: '';
		position: absolute;
		border-style: solid;
		width: 0;
		height: 0;
		top: 30px;
		right: -15px;
		border-width: 10px 0 10px 15px;
		border-color: transparent transparent transparent #f5f5f5;
  }
}

.timeline-img {
	width: 30px;
	height: 30px;
	background: $color-medium;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	margin-top: 25px;
	margin-left: -15px;
}

.btn-more {
	background: $color-medium;
	color: $color-white;
	padding: 8px 20px;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 20px;
	margin-top: 10px;
	display: inline-block;
	border-radius: 2px;
	box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .6);

	&:hover, &:active, &:focus {
		background: darken($color-medium, 10%);
		color: $color-white;
		text-decoration: none;
  }
}

.timeline-card {
  padding: 0!important;
	p {
		padding: 0 20px;
	}

	a {
    margin-left: 20px;
  }
  
  h2 {
    padding-top: 30px;
  }
}

.timeline-header {
  h2 {
		color: $color-dark;
    padding-top: 15px;
	}
}

.timeline-img-header {
	height: 200px;
	position: relative;
	margin-bottom: 20px;

	h2 {
		color: black;
    position: absolute;
    padding: 50px 0 0 20px;
	}
}

.date {
	background: $color-medium;
	display: inline-block;
	color: $color-white;
	padding: 10px;
	position: absolute;
	top: 0;
	right: 0;
}

@media screen and (max-width: 768px) {
	.timeline {
    padding: 0 15px 0 5px;

		&::before {
      left: 20px;
		}

		.timeline-img {
			left: 20px;
		}

		.timeline-content {
			max-width: 100%;
			width: auto;
			margin-left: 45px;
		}

    blockquote {
      margin-left: 0.25rem;
      margin-right: 0.25rem;
      padding: 0 0 0 15px;
    }

		.timeline-item {
			&:nth-child(even) {
				.timeline-content {
					float: none;
				}
			}

			&:nth-child(odd) {
				.timeline-content {
					&::after {
						content: '';
						position: absolute;
						border-style: solid;
						width: 0;
						height: 0;
						top: 30px;
						left: -15px;
						border-width: 10px 15px 10px 0;
						border-color: transparent #f5f5f5 transparent transparent;
					}
				}
			}
		}
	}
}
