@media print {
  nav,
  input,
  .post-feature_image,
  .page-projects .nz-section.background-medium,
  .page-about-SIL .nz-section.background-medium,
  .menu-btn,
  .link-arrow-right svg,
  .link-arrow-left svg {
    display: none !important;
  }

  img {
    max-width: 500px !important;
  }

  a::after {
    font-size: 1rem !important;
    content: ' (' attr(href) ') ';
  }

  .nz-grid.content-focus {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  @import 'what-we-deliver';
  @import 'how-we-work';
  @import 'contact';
  @import 'blog';
}
