---
layout: default
permalink: /team/
---

<section class="nz-section background-gray">
  <div class="nz-grid">
      <div class="nz-width-two-thirds">
        <h2> Team Members</h2>
      </div>
  </div>
  <div class="nz-grid">
    <section class="nz-section">
      <div class="nz-flex nz-flex-wrap">
        {% assign columns = include.columns | default: 3 %}
        {% if columns == 2 %}
          {% assign wds_grid_class = 'nz-width-one-half' %}
        {% else %}
          {% assign wds_grid_class = 'nz-width-one-third' %}
        {% endif %}
        
        {% for member in site.data.team %}
          <article class="card {{ wds_grid_class }} nz-width-tablet">
            <div class="card-link" data-href="{{ card_link }}" tabindex="-1"> 
              <div class="card-banner">
                  <div class="team-list-img" role="group">
                    <img src="{{ member.image }}" alt="Photo of {{ member.full_name }}">
                  </div>
                <h3 class="card-tag"><b>{{ member.full_name }}</b></h3>
                <p class="card-description"><b>Role:</b> {{ member.role }}</p>
              </div>
            </div>
          </article>
        {% endfor %}
      </div>
    </section>
  </div>
</section>