---
layout: default
header_border: true
---

{% include base.html %}
<section class="page-tag-results project">
  <section class="background-medium">
    <div class="nz-grid-full nz-flex banner">
      <div class="nz-grid nz-width-one-whole hero-callout-full hero-callout-no_button">
        {% if page.agency %}
          <h1 class="h3 lead">
            <span>{{ page.agency }}</span>
          </h1>
        {% endif %}
        <h1 class="page-title" style="padding-top: 3rem">
          {{ page.title }}
        </h1>
      </div>
    </div>
  </section>

  {% include about-nav.html %}
  
  <div class="nz-grid-full nz-grid-reversed">
    {% if page.agency or
          page.report or
          page.media or
          page.github_repo or
          page.resources
    %}
    <aside class="nz-grid nz-section nz-grid-reversed-right nz-width-one-third section-info section-info-gray">
      <ul>
        {% if page.quote %}
          <blockquote>
            <p>&ldquo;{{ page.quote }}&rdquo;</p>
            {% if page.quote_source %}
              <cite>{{ page.quote_source | prepend: '– ' | markdownify }}</cite>
            {% endif %}
          </blockquote>
        {% endif %}

        {% if page.agency %}
        <li class="section-info-list-item">
          <div class="section-info-header">Agency partner</div>
          <div>{{ page.agency }}</div>
        </li>
        {% endif %}

        {% if page.report %}
        <li class="section-info-list-item">
          <div class="section-info-header">Reports</div>
            <ul class="{% unless page.report.size > 1 %}nz-unstyled-list{% endunless %}">
              {% for report in page.report %}
                <li>{{ report | markdownify }}</li>
              {% endfor %}
              </ul>
        </li>
        {% endif %}

        {% if page.media %}
        <li class="section-info-list-item">
          <div class="section-info-header">Media</div>
          <ul class="{% unless page.media.size > 1 %}nz-unstyled-list{% endunless %}">
            {% for media in page.media %}
              <li>{{ media | markdownify }}</li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}

        {% if page.github_repo %}
        <li class="section-info-list-item">
          <div class="section-info-header">GitHub</div>
            <ul class="{% unless page.github_repo.size > 1 %}nz-unstyled-list{% endunless %}">
            {% for repo in page.github_repo %}
              <li>{{ repo | markdownify }}</li>
            {% endfor %}
            </ul>
        </li>
        {% endif %}

        {% if page.resources.size > 0 %}
        <li class="section-info-list-item">
          <div class="section-info-header">Resources</div>
          <ul class="{% unless page.resources.size > 1 %}nz-unstyled-list{% endunless %}">
            {% for resource in page.resources %}
              <li>{{ resource | markdownify }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </ul>
    </aside>
    {% endif %}

    <div class="nz-grid nz-width-two-thirds">
      <section class="nz-section page-tag-results-content">
        {{ content }}
        <button id="scrollToTopBtn" title="Go to top">Back to Top</button>
      </section>
    </div>
  </div>
</section>
