---
layout: default
---

{% assign page_title = page.subnav_title | default: page.title %}

{% if page.breadcrumb == true %}
{% include breadcrumb.html
  page_title=page_title
  background_class='background-gray'
%}
{% endif %}

<section class="{% unless page.gridless %}nz-grid nz-section {% endunless %}{% unless page.content_focus == false %} content-focus {% endunless %}{% if page.content_wide %} content-wide{% endif %} {% if page.include_subnav %} content-wide{% endif %} nz-content expertise-main-content">
    <h3 class="page-title">Expertise</h3>
    {% if page.include_subnav %}
    <aside class="nz-width-one-third sticky sticky-subnav">
      {% include navigation.html subnav=true %}
    </aside>
    <section class="nz-width-two-thirds">
      {% if page.image and page.lead %}
        <h3 class="page-lead">{{ page.lead }}</h3>
      {% endif %}
      {{ content }}
    </section>
  {% else %}
    {% if page.image and page.lead %}
      <h3 class="page-lead">{{ page.lead }}</h3>
    {% endif %}
    {{ content }}
  {% endif %}
</section>