---
layout: default
header_border: true
---

{% assign matching_posts = page | match_posts | sort:'date' | reverse %}

{% include breadcrumb.html
  parent_permalink='/projects/'
  parent_title='Projects'
%}

{% include base.html %}
<section class="page-tag-results project">
  <section class="background-medium">
    <div class="nz-grid-full nz-flex banner">
      <div class="nz-grid {% if page.image %}nz-width-one-half{% else %}nz-width-one-whole{% endif %} hero-callout-full hero-callout-no_button">
        {% if page.agency %}
          <h1 class="h3 lead">
            <span>{{ page.agency }}</span>
          </h1>
        {% endif %}
        <h1 class="page-title">
          {{ page.title }}
        </h1>
      </div>
      {% if page.image %}
        <div class="nz-width-one-half template-banner"
          style="background-image: url({{ base }}{{ page.image }});"
          role="img"
          title="{{ page.image_accessibility }}">
        </div>
      {% else %}
        <div class="hero hero-img-collapsed" style="background-image: none">
        </div>
      {% endif %}
    </div>
  </section>

  <div class="nz-grid-full nz-grid-reversed">
    {% if page.agency or
          page.report or
          page.media or
          page.github_repo or
          page.resources
    %}
    <aside class="nz-grid nz-section nz-grid-reversed-right nz-width-one-third section-info section-info-gray">
      <ul>
        {% if page.quote %}
          <blockquote>
            <p>&ldquo;{{ page.quote }}&rdquo;</p>
            {% if page.quote_source %}
              <cite>{{ page.quote_source | prepend: '– ' | markdownify }}</cite>
            {% endif %}
          </blockquote>
        {% endif %}

        {% if page.agency %}
        <li class="section-info-list-item">
          <div class="section-info-header">Agency partner</div>
          <div>{{ page.agency }}</div>
        </li>
        {% endif %}

        {% if page.report %}
        <li class="section-info-list-item">
          <div class="section-info-header">Reports</div>
            <ul class="{% unless page.report.size > 1 %}nz-unstyled-list{% endunless %}">
              {% for report in page.report %}
                <li>{{ report | markdownify }}</a></li>
              {% endfor %}
              </ul>
        </li>
        {% endif %}

        {% if page.media %}
        <li class="section-info-list-item">
          <div class="section-info-header">Media</div>
          <div>{{ page.media | markdownify }}</div>
        </li>
        {% endif %}

        {% if page.github_repo %}
        <li class="section-info-list-item">
          <div class="section-info-header">GitHub</div>
            <ul class="{% unless page.github_repo.size > 1 %}nz-unstyled-list{% endunless %}">
            {% for repo in page.github_repo %}
              <li>{{ repo | markdownify }}</a></li>
            {% endfor %}
            </ul>
        </li>
        {% endif %}

        {% if page.resources.size > 0 %}
        <li class="section-info-list-item">
          <div class="section-info-header">Resources</div>
          <ul class="{% unless page.resources.size > 1 %}nz-unstyled-list{% endunless %}">
            {% for resource in page.resources %}
              <li>{{ resource | markdownify }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if page.learn_more %}
          <li class="section-info-list-item">
            <a class="nz-button" href="{{ page.learn_more }}">Learn more</a>
          </li>
        {% endif %}
      </ul>
      <div >{% include side-cta.html %}</div>
    </aside>
    {% endif %}

    <div class="nz-grid nz-width-two-thirds">
      <section class="nz-section page-tag-results-content">
        <div class="small-caps small-caps-no-margin">Background</div>
        <p>{{ page.subtitle }}</p>
        {{ content }}
      </section>
    </div>
  </div>
  {% if matching_posts.size > 0 %}
  <div class="background-gray">
    <div class="nz-section post-border">
      <section class="nz-grid posts_feature">
        <div class="{% if matching_posts.size > 3 %}nz-flex nz-flex-pull-right nz-flex-baseline nz-spacer{% endif %}">
          <h2>Related blog posts</h2>
          {% if matching_posts.size > 3 %}
            <a class="link-arrow-right" href="{{ base }}/tags/{{ page.tag | slugify }}/">See all posts about this project{% include svg/icons/arrow-right.svg %}</a>
          {% endif %}
        </div>
        <ul>
        {% for post in matching_posts limit:3 %}
          {% include post.html
             post_date=post.date
             post_title=post.title
             post_excerpt=post.excerpt
             post_url=post.url
          %}
        {% endfor %}
      </ul>
      </section>
    </div>
  </div>
  {% endif %}
</section>
