.nz-alert {
  background-color: $color-gray-lightest;
  background-position: 1rem 2rem;
  background-repeat: no-repeat;
  background-size: 4rem;
  margin-top: 1.5em;
  padding: 1em;

  @include media($medium-screen) {
    background-size: 5.2rem;
  }

  ul {
    margin-bottom: 0;
    margin-top: 1em;
  }
}

.nz-alert-icon {
  display: table-cell;
  padding-right: 1rem;
}

.nz-alert-body {
  display: table-cell;
  padding-left: 3.5rem;
  vertical-align: top;

  @include media($medium-screen) {
    padding-left: 5rem;
  }
}

.nz-alert-heading {
  margin-bottom: 0.3rem;
  margin-top: 0;

  @include media($medium-screen) {
    margin-top: 0.3rem;
  }
}

.nz-alert-text {
  font-family: $font-sans;
  margin-bottom: 0;
  margin-top: 0;
}

.nz-alert-success {
  background-color: $color-green-lightest;
  background-image: url('../img/alerts/success.png');
  background-image: url('../img/alerts/success.svg');
}

.nz-alert-warning {
  background-color: $color-gold-lightest;
  background-image: url('../img/alerts/warning.png');
  background-image: url('../img/alerts/warning.svg');
}

.nz-alert-error {
  background-color: $color-secondary-lightest;
  background-image: url('../img/alerts/error.png');
  background-image: url('../img/alerts/error.svg');
}

.nz-alert-info {
  background-color: $color-primary-alt-lightest;
  background-image: url('../img/alerts/info.png');
  background-image: url('../img/alerts/info.svg');
}

.nz-alert-no_icon {
  background-image: none;
}
