@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

.creative-commons {
  position: relative;

  > span {
    font-size: 1.5rem;
    position: absolute;
    left: 100px;
  }

  .licence {
    a {
      color: $color-inverse;
    }

    svg {
      fill: $color-inverse;
      position: relative;
      top: 0.3rem;
      left: 0.5rem;
    }
  }
}
