$nz-btn-small-width: 4.5rem;
$nz-btn-medium-width: 8.5rem;
$nz-btn-big-width: 11.6rem;

@mixin search-icon {
  background-image: url("../img/search.png");
  background-image: url("../img/search.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}

.nz-search {
  @include clearfix;
  max-width: none;
  position: relative;

  [type="search"],
  .nz-search-input {
    -webkit-appearance: none;
    border-bottom-right-radius: 0;
    border-right: none;
    border-top-right-radius: 0;
    float: left;
    font-size: $small-font-size;
    height: 3.3rem;
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
    width: calc(100% - #{$nz-btn-small-width});

    @include media($small-screen) {
      width: calc(100% - #{$nz-btn-medium-width});
    }
  }

  [type="submit"],
  .nz-search-submit {
    @include search-icon;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 3.3rem;
    margin: 0;
    padding: 0;
    width: $nz-btn-small-width;

    @include media($small-screen) {
      background-image: none;
      width: $nz-btn-medium-width;
    }
  }

  .nz-search-submit-text {
    display: none;

    @include media($small-screen) {
      display: block;
    }
  }

  &.nz-search-big {
    @include media($small-screen) {
      $height: 4.4rem;
      $width: $nz-btn-big-width;

      [type="search"],
      .nz-search-input {
        font-size: $base-font-size;
        height: $height;
        width: calc(100% - #{$width});
      }

      [type="submit"],
      .nz-search-submit {
        font-size: $h3-font-size;
        height: $height;
        width: $width;
      }
    }
  }

  &.nz-search-small {
    @include media($small-screen) {
      $width: $nz-btn-small-width;

      [type="search"],
      .nz-search-input {
        width: calc(100% - #{$width});
      }

      [type="submit"],
      .nz-search-submit {
        @include search-icon;
        width: $width;
      }
    }
  }
}
